@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-xl: 35px;
    --text-lg: 18px;
    --text-md: 16px;
    --text-sm: 14px;
}

section {
    height: 100vh;
}

.d-flex {
    display: flex;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.justify-space-btw {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.slick-track {
    display: flex !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-slide {
    margin: 0 10px;
    padding-bottom: 30px;
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.slick-current .card {
    border: solid 2px #F53838;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.slick-dots {
    position: absolute;
    bottom: -75px;
    text-align: unset;
    margin-left: 30px;
}

.slick-dots li button {
    display: none;
}

.slick-dots li button::before {
    content: unset !important;
}

.slick-dots li.slick-active button:before {
    color: #F53838;
}

.slick-dots li {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 15px;
    transition: width 150ms linear;
    margin-left: 7.5px !important;
    margin-right: 7.5px !important;
}

.slick-dots li.slick-active {
    background-color: #F53838;
    width: 45px;
}

.h3 {
    max-width: 447.81px;
    font-family: Rubik;
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: 555px;
    font-family: Rubik;
    font-weight: 400;
    font-size: var(--text-md);
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 2px solid #DDDDDD;
    padding: 30px 30px 25px 30px;
    border-radius: 10px;
    transition: border 300ms linear;
}

.profile {
    margin-right: 20px;
}

.name {
    font-family: Rubik;
    font-weight: 500;
    font-size: var(--text-lg);
    line-height: 30px;
    color: #0B132A;
    white-space: nowrap;
}

.location {
    font-family: Rubik;
    font-weight: 400;
    font-size: var(--text-sm);
    line-height: 30px;
    color: #4F5665;
}

.rating {
    font-family: Rubik;
    font-weight: 400;
    font-size: var(--text-md);
    line-height: 30px;
    color: #0B132A;
    margin-right: 10px;
}

.ml-100 {
    margin-left: 108px;
}

.mb-20 {
    margin-bottom: 20px;
}

.comment {
    max-width: 340px;
    font-family: Rubik;
    font-weight: 400;
    font-size: var(--text-md);
    line-height: 30px;
    color: #0B132A;
}

.mr-30 {
    margin-right: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.prev {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #F53838;
    transition: background-color 200ms linear;
}

.next {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #F53838;
    transition: background-color 200ms linear;
}

.float-right {
    float: right;
}

.prev svg path {
    transition: fill 200ms linear;
}

.next svg path {
    transition: fill 200ms linear;
}

.prev:hover {
    background-color: #F53838;
}

.prev:hover svg path {
    fill: #FFFFFF;
}

.next:hover {
    background-color: #F53838;
}

.next:hover svg path {
    fill: #FFFFFF;
}

@media (max-width:769px) {
    :root {
        --text-xl: 30px;
        --text-lg: 15px;
        --text-md: 13px;
        --text-sm: 11px;
    }

    .prev {
        width: 50px;
        height: 50px;
    }

    .next {
        width: 50px;
        height: 50px;
    }

    .slick-dots li {
        width: 10px;
        height: 10px;
        bottom: 45px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .slick-dots li.slick-active {
        width: 35px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

@media (max-width:426px) {
    :root {
        --text-xl: 25px;
        --text-lg: 12px;
        --text-md: 10px;
        --text-sm: 8px;
    }

    .prev {
        width: 40px;
        height: 40px;
    }

    .next {
        width: 40px;
        height: 40px;
    }

    .prev svg {
        width: 15px;
        height: 14px;
    }

    .next svg {
        width: 15px;
        height: 14px;
    }

    .slick-dots li {
        width: 7px;
        height: 7px;
        bottom: 45px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .slick-dots li.slick-active {
        width: 25px;
    }

    .name {
        height: 20px;
    }
}

@media (max-width:322px) {
    :root {
        --text-xl: 22px;
        --text-lg: 9px;
        --text-md: 7px;
        --text-sm: 5px;
    }

    .prev {
        width: 40px;
        height: 40px;
    }

    .next {
        width: 40px;
        height: 40px;
    }

    .prev svg {
        width: 15px;
        height: 14px;
    }

    .next svg {
        width: 15px;
        height: 14px;
    }

    .slick-dots li {
        width: 7px;
        height: 7px;
        bottom: 45px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .slick-dots li.slick-active {
        width: 25px;
    }

    .name {
        height: 15px;
    }
}

@media (max-width:371px) {
    .buttons {
        display: none;
    }

    .slick-dots {
        position: absolute;
        text-align: start;
        margin-left: 55px;
    }
}